# Python bytecode
__pycache__/
*.pyc
*.pyo

# Local environment file (es. developing variables)
.env

# Test / coverage
.coverage
.pytest_cache/

# Logs
*.log

# Files (upload, etc.)
files/terms_en_example.txt
files/terms_it_example.txt
