# Python bytecode
__pycache__/
*.pyc
*.pyo

# Local environment file (es. developing variables)
.env

# Test / coverage
.coverage
.pytest_cache/

# Logs
*.log

# Files (upload, etc.)
files/terms_en.md
files/terms_it.md

# Firebase keys (secret)
firebase_keys.json

# Docker compose for production
docker-compose.prod.yml
