# Quidalert – a network alert manager: it receives alerts from users and makes decisions to help them
# Copyright (C) 2025  Davide Quirillo
# Licensed under the GNU GPL v3 or later. See LICENSE for details.

# environment variables (for development conf)

# Development server conf (see start.py)
SERVER_LOG_LEVEL = 'info' # 'error', 'warning', 'info', 'debug', 'trace'
WORKERS = 1
RELOAD = "yes"

# APP_MODE: "development" or "production"
APP_MODE = "development"
HOST = "localhost"
PORT = 8080
# the server name is used for CORS and other security policies, it should be the same as the one used in the frontend conf
# it's the public domain name or IP address of the server, without protocol and port (e.g., "example.com" or "localhost")
SERVER_NAME = "localhost"
SERVER_PORT = 8080
PROTOCOL = "http"
APP_LOG_LEVEL = 'info' # 'debug', 'info', 'warning'

# Database conf
DB_USER = "dbuser"
DB_PASS = "dbpass"
DB_NAME = "quidalert_db"
DB_HOST = "localhost"
DB_PORT = 5432
DB_ENGINE_LOG_ENABLED = "yes"
DB_POOL_SIZE=5
DB_MAX_OVERFLOW=10
DB_POOL_RECYCLE=1800

# Redis DBMS
REDIS_URL="redis://localhost:6379/0"
REDIS_USER="test"
REDIS_PASS="test"
REDIS_MAX_CONNECTIONS = 200

# Mail sender conf
SMTP_HOST = "localhost"
SMTP_PORT = 1025
SMTP_FROM = "no-reply@localhost.local"
SMTP_USER="test"
SMTP_PASS="test"

# Security conf in development mode

# Password of the first user (admin)
ADMIN_PASS = "Password!123"

# Pepper string is useful for email hashing (to log email address securely)
# Create it with the following command
# python -c "import secrets; print(secrets.token_urlsafe(32))"
EMAIL_PEPPER = "myemailpepper12345" 

# OTP pepper is useful for verification code hashing
# Create it with the following command
# python -c "import secrets; print(secrets.token_urlsafe(32))"
OTP_PEPPER = "myotppepperabcde12345"

# GLOBAL pepper is useful for random token hashing
# Create it with the following command
# python -c "import secrets; print(secrets.token_urlsafe(32))"
GLOBAL_PEPPER = "myglobalpepper12345"

# Create a jwt secret key with the following command
# python -c "import secrets; print(secrets.token_urlsafe(32))"
JWT_SECRET_KEY = "myjwtsecretkey1234567890"

# MinIO Storage server
MINIO_USER = "admin"
MINIO_PASS = "password123"
MINIO_ENDPOINT="http://localhost:9000"
MINIO_BUCKET_NAME="quidalert-uploads"
# You can create them with the minIO web interface
MINIO_ACCESS_KEY = "minioaccesskey12345"
MINIO_SECRET_KEY = "miniosecretkey67890"