# Legal terms

Legal terms file content (formato Markdown, .md)  
**Admin** will upload the file using the client (flutter app).

Legal terms file content (formato Markdown, .md)  
**Admin** will upload the file using the client (flutter app).

Legal terms file content (formato Markdown, .md)  
**Admin** will upload the file using the client (flutter app).

Legal terms file content (formato Markdown, .md)  
**Admin** will upload the file using the client (flutter app).

Legal terms file content (formato Markdown, .md)  
**Admin** will upload the file using the client (flutter app).

Legal terms file content (formato Markdown, .md)  
**Admin** will upload the file using the client (flutter app).

Legal terms file content (formato Markdown, .md)  
**Admin** will upload the file using the client (flutter app).

Legal terms file content (formato Markdown, .md)  
**Admin** will upload the file using the client (flutter app).

Legal terms file content (formato Markdown, .md)  
**Admin** will upload the file using the client (flutter app).

Legal terms file content (formato Markdown, .md)  
**Admin** will upload the file using the client (flutter app).