# Legal terms

Legal terms file content (Markdown format, .md)  
**Admin** will upload the file using the client (flutter app).

Legal terms file content (Markdown format, .md)  
**Admin** will upload the file using the client (flutter app).

Legal terms file content (Markdown format, .md)  
**Admin** will upload the file using the client (flutter app).

Legal terms file content (Markdown format, .md)  
**Admin** will upload the file using the client (flutter app).

Legal terms file content (Markdown format, .md)  
**Admin** will upload the file using the client (flutter app).

Legal terms file content (Markdown format, .md)  
**Admin** will upload the file using the client (flutter app).

Legal terms file content (Markdown format, .md)  
**Admin** will upload the file using the client (flutter app).

Legal terms file content (Markdown format, .md)  
**Admin** will upload the file using the client (flutter app).

Legal terms file content (Markdown format, .md)  
**Admin** will upload the file using the client (flutter app).

Legal terms file content (Markdown format, .md)  
**Admin** will upload the file using the client (flutter app).