# Termini legali

Contenuto del file dei termini legali (formato Markdown, .md)  
**L'amministratore**, mediante l'app (client) farà l'upload del file al server.

Contenuto del file dei termini legali (formato Markdown, .md)  
**L'amministratore**, mediante l'app (client) farà l'upload del file al server.

Contenuto del file dei termini legali (formato Markdown, .md)  
**L'amministratore**, mediante l'app (client) farà l'upload del file al server.

Contenuto del file dei termini legali (formato Markdown, .md)  
**L'amministratore**, mediante l'app (client) farà l'upload del file al server.

Contenuto del file dei termini legali (formato Markdown, .md)  
**L'amministratore**, mediante l'app (client) farà l'upload del file al server.

Contenuto del file dei termini legali (formato Markdown, .md)  
**L'amministratore**, mediante l'app (client) farà l'upload del file al server.

Contenuto del file dei termini legali (formato Markdown, .md)  
**L'amministratore**, mediante l'app (client) farà l'upload del file al server.

Contenuto del file dei termini legali (formato Markdown, .md)  
**L'amministratore**, mediante l'app (client) farà l'upload del file al server.

Contenuto del file dei termini legali (formato Markdown, .md)  
**L'amministratore**, mediante l'app (client) farà l'upload del file al server.

Contenuto del file dei termini legali (formato Markdown, .md)  
**L'amministratore**, mediante l'app (client) farà l'upload del file al server.